:root {
    --accent1: 	#172913;
    --accent2: 	#035805;
    --accent3: #1a3b13;
    --accent-t: #132a13aa;
    --back-claro1: #FEFCF9;
    --back-claro2: #eee;
    --font-color: #f1f1f1;
    --back-trans: rgba(0,0,0,0.9);
    --text-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
    --box-shadow: rgba(10,10,10,.5) 0px 0px 10px;
    --grad-top: linear-gradient(90deg, var(--back-trans) 0%, var(--accent3) 100%);
    --grad-left: linear-gradient(90deg, var(--accent1) 0%, var(--accent3) 100%);
    --font: 'Lato', sans-serif;
    --font-title: 'Raleway', sans-serif;
    --border: 1px solid var(--back-claro1);
    --Iconsax-Size: 10px;
    --Iconsax-Color: #333;

    --bs-rows: 1;
    --bs-columns: 12;
    --bs-gap: 1.5rem;
    --header: url(../images/forest-6.jpg);
}

/*GENERAL*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--accent2)
}
ul{
    margin: 0!important;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--accent1);
    border-radius: 25px;
}
::-webkit-scrollbar-track {
    background: var(--back-claro1);
    border: none;
}
::selection{
    background: var(--accent3);
    color: var(--font-color);
}
.layout{
    font-size: 10px;
    font-family: var(--font);
    color: var(--bs-dark);
    padding: 0;
    margin: 0;
    position: relative;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}

/*HEADER*/
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__fondo{
    background-image: url(../images/forest-6.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    filter: brightness(0.8) contrast(1.2);
    padding: 0;
}
.header__logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo img{
    height: 100%;
    max-width: 783px;
}

/*NAVBAR*/

#navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999!important;
    margin-top: -57px;
    --bs-navbar-color: transparent;
}
.navbar{
    background: var(--grad-top);
    width: 100%;
    height: 57px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.navbar__logo{
    display: flex;
    margin: 0 20px;
}
.navbar__logo img{
    height: 5vh;
}
.navbar__name{
    text-transform: uppercase;
    color: var(--font-color);
    padding: 0px 10px;
    font: 200 1.2em var(--font-title);
}
.navbar__name b{
    font: 900 italic 1.4rem var(--font-title);
    display: block;
}
.navbar__container{
    text-transform: uppercase;
    justify-content: end;
    margin-right: 20px;
}
.navbar__links{
    padding: 5px;
    margin-right: 10px;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    color: var(--font-color);
}
.navbar__links:before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--font-color);
    transform: translateX(-101%);
}
.navbar__links:hover:before{
    transform: translateX(0);
}
#navbar a:before, #navbar a:after, #navbar a > span:before, #navbar a > span:after {
    content: '';
    position: absolute;
    transition:.5s ease;
}
.navbar__container ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#navbar i{
    color: var(--font-color);
}
.navbar-toggler{
    border: none;
    box-shadow: none;
}
.main__video{
    display: flex;
    justify-content: center;
}
/*MAIN GENERAL*/
.main__section{
    padding: 3% 0;
}
.main__wrap{
    width: 80%;
    margin: auto;
}
.main__section--primary{
    background-color: var(--back-claro2);
    padding-top: 6%;
}
/*FOOTER*/
footer{
    background: var(--grad-top);
    background-size: 100%;
    background-position: bottom;
    width: 100%;
    overflow: hidden;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    color: var(--font-color);
    align-items: center;
}
footer a{
    color: #fff;
}
.footer__contacto{
    padding: 40px;
    font-size: 1em;
}
.footer__contacto b{
    text-transform: uppercase;
    padding: 0 6px 0 0;
}
.footer__rrss {
    font-size: 2em;
    width: 17vh;
}
.footer__rrss ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/*MAIN INDEX*/

.main__iframe{
    border-radius: 10px;
}
.main__nosotros{
    padding: 0 0 0 50px;
}
.main__sobre{
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.4;
    padding: 10px 5px;
}
.main__subtitulo{
    color: var(--font-color);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(../images/forest-9.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    background-attachment: fixed;
    grid-area: subtitulo-index;
    margin-bottom: 0px;
}
.main__subtitulo:after, .main__subtitulo:before{
    content: '';
    display: block;
    width: 100%;
    height: 14vh;
    position: absolute;
    top:0;
    left: 0;
}
.main__subtitulo:after{
    background: var(--accent2);
    mix-blend-mode: multiply;
}
.main__subtitulo:before{
    background: #000;
    mix-blend-mode: color;
}
.main__subtitulo h1, .main__subtitulo h2{
    text-transform: uppercase;
    font: 900 italic 1.8rem var(--font-title);
    letter-spacing: 0px;
    font-style: italic;
    z-index: 3;
    position: relative;
    padding: 13px 20px;
}

.main__servicios{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    padding: 0px;
    margin-bottom: 10px;
}
.main__imagenes{
    width: 98%;
    filter: brightness(0.6) contrast(1.1);
    transition:.5s ease;
    transform: scale(1);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    left: 1%;
}
.main__servicios:hover .main__imagenes{
    filter: brightness(1) contrast(1.1);
    transition:.5s ease;
    transform: scale(1);
}
.main__links{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.main__links a{
    width: 100%;
    height: 100%;
    position:relative;
    display: flex;
    text-transform: uppercase;
    font: 900 3.1em var(--font-title);
    font-size: 3.1em;
    text-shadow: var(--text-shadow);
    font-weight: 900;
    line-height: 0.8;
    padding: 20px;
    letter-spacing: -2px;
    color: #fff;
}
.main__subtitulo--h2{
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 70px;
}

/*RESPONSIVE*/
@media (max-width: 800px){
    .desktop, .index__subtitulo:after, .index__subtitulo:before{
        display: none;
    }
    .mobile{
        display: block;
    }
    .navbar__container ul {
        flex-direction: column;
        background: var(--back-claro2);
        padding: 0 3vw;
        width: 100%;
        margin: 0;
        
    }
    .navbar__container{
        margin: 0;
        display: flex;
        text-align: right;
        font-size: 1.2em;
        width: 100%;
        position: absolute;
        top: 57px;
    }
    .navbar__links {
        color: var(--accent3);
        padding: 10px;
        border-bottom: 1px solid;
        width: 100%;
        display: block;
    }
    .navbar__name{
        display: none;
    }
    #navbar{
        position: fixed;
        top: 0;
        margin-top: 0px;
    }
    .header__logo-vertical{
        width: 70%;
        position: relative;
    }
    .header__logo-vertical img{
        width: 100%;
    }
}
@media (max-width: 1401px) {
    .main__nosotros{
        padding: 0;
    }
    .main__video .desktop{
        display: none;
    }
    .main__video .mobile{
        display: block;
        width: 100%;
    }
    .main__video{
        margin-bottom: 20px;
    }
    .main__servicios{
        font-size: 7px;
    }
}