:root {
    --accent1: 	#172913;
    --accent2: 	#035804;
    --accent3: #1a3b13;
    --accent-t: #132a1328;
    --back-claro1: #FDF6EC;
    --back-claro2: #F3E9DD;
    --font-color: #f1f1f1;
    --back-trans: rgba(0,0,0,0.9);
    --text-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
    --box-shadow: rgba(10,10,10,.5) 0px 0px 10px;
    --grad-top: linear-gradient(90deg, var(--back-trans) 0%, var(--accent3) 100%);
    --grad-left: linear-gradient(90deg, var(--accent1) 0%, var(--accent3) 100%);
    --font: 'Lato', sans-serif;
    --font-title: 'Raleway', sans-serif;
    --border: 1px solid var(--back-claro1);
    --Iconsax-Size: 10px;
    --Iconsax-Color: #333;

    --bs-rows: 1;
    --bs-columns: 12;
    --bs-gap: 1.5rem;
    --header: url(../images/forest-6.jpg);
}

/*GENERAL*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--accent2)
}
ul{
    margin: 0!important;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--accent1);
    border-radius: 25px;
}
::-webkit-scrollbar-track {
    background: var(--back-claro1);
    border: none;
}
::selection{
    background: var(--accent3);
    color: var(--font-color);
}
.wrap{
    width: 100%;
    font-size: 10px;
    font-family: var(--font);
    color: var(--bs-dark);
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}

/*HEADER*/
.main__top{
    position: relative;
    overflow: visible;
}
.header__logo--horizontal, .header__logo--vertical{
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo--vertical{
    display: none;
}
.header__fondo{
    background-image: url(../images/forest-6.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    filter: brightness(0.8) contrast(1.2);
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.header__logo--horizontal img, .header__logo--vertical img{
    width: 70%;
    max-width: 783px;
}

/*NAVBAR*/
.navbar{
    background: var(--grad-top);
    width: 100%;
    height: 57px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    top: 0;
    margin-top: -57px;
    z-index: 99!important;
}
.navbar__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    display: flex;
}
.nav__logo img{
    height: 35px;
}
.nav__brand{
    text-transform: uppercase;
    color: var(--font-color);
    padding: 0px 10px;
    font: 200 1em var(--font-title);
    line-height: 1;
}
.nav__brand b{
    font: 900 italic 1.4rem var(--font-title);
    display: block;
}
.nav__menu ul{
    display: flex;
}
.navbar-toggler{
    border: none;
    box-shadow: none;
}
.nav__links{
    padding: 5px;
    margin-right: 10px;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    color: var(--font-color);
    text-transform: uppercase;
}
.nav__links:before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--font-color);
    transform: translateX(-101%);
}
.nav__links:hover:before{
    transform: translateX(0);
}
#navbar a:before, #navbar a:after, #navbar a > span:before, #navbar a > span:after {
    content: '';
    position: absolute;
    transition:.5s ease;
}
#navbar i{
    color: var(--font-color);
}

.main__video{
    display: flex;
    justify-content: center;
}
.section__texto--top{
    display: none;
}
/*MAIN GENERAL*/
.main__section{
    padding: 3% 0;
}
.main__wrap{
    width: 80%;
    margin: auto;
}
.main__section--primary{
    background-color: var(--back-claro2);
    padding-top: 6%;
}
/*FOOTER*/
footer{
    background: var(--grad-top);
    background-size: 100%;
    background-position: bottom;
    width: 100%;
    overflow: hidden;
    color: var(--font-color);
    align-items: center;
}
.footer__creditos{
    text-transform: uppercase;
    font-size: .8em;
    padding: 0 20px 10px;
    text-align: right;
}
footer a{
    color: #fff;
}
.footer__contacto{
    padding: 40px 10%;
    font-size: 1.2em;
    line-height: 1.2;
}
.footer__contacto b{
    padding: 0 6px 0 0;
}
.footer__rrss {
    font-size: 2.4em;
    padding: 0 10%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.footer__list ul{
    list-style: none;
    line-height: 1.5;  
}
.footer__rrss ul{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}
.footer__list li{
    padding: 0 0 0 20px;
}
.footer__contacto span{
    padding: 0 5px;
}
/*MAIN INDEX*/
.video__iframe{
    border-radius: 10px;
}
.section__video{
    height: 100%;
    align-items: center;
}
.section__container{
    padding: 5% 0;
}
.main__nosotros{
    padding: 0 0 0 50px;
}
.section__texto{
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.4;
    padding: 10px 5px;
}
.section__texto i{
    color: var(--accent3);
}
.section__title{
    color: var(--font-color);
    position: relative;
    background: url(../images/forest-9.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    background-attachment: fixed;
    margin-bottom: 0px;
    text-align: center;
}
.section__title:after, .section__title:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.section__title:after{
    background: var(--accent2);
    mix-blend-mode: multiply;
}
.section__title:before{
    background: #000;
    mix-blend-mode: color;
}
.section__title h1, .section__title h2{
    text-transform: uppercase;
    font: 900 italic 3em var(--font-title);
    letter-spacing: 0px;
    font-style: italic;
    z-index: 3;
    position: relative;
    padding: 20px;
    margin: 0;
}
.section__title--top{
    display: none;
}
.item__card{
    overflow: hidden;
    padding: 0px;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
}
.card__img{
    border-radius: 10px;
    overflow: hidden;
}
.card__img img{
    width: 100%;
}
.card__tit{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}
.card__tit h3{
    text-transform: uppercase;
    font: 900 3.1em var(--font-title);
    text-shadow: var(--text-shadow);
    line-height: 0.8;
    padding: 20px;
    color: #fff;
}
.card__button{
    position: absolute;
    top: 20px;
    right: 20px;
}
.card__link{
    background: var(--grad-top);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    position: relative;
    z-index: 3;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    transition: .1s ease-in-out;
    border-radius: 10px;
}
.card__link:hover{
    transition: .1s ease-in-out;
    letter-spacing: 2px;
}
.card__img--filter{
    filter: brightness(.6) contrast(1.1);
    transform: scale(1);
    transition: .5s ease-in-out;
}
.item__card:hover .card__img--filter{
    filter: none;
    transform: scale(1.1);
    transition: .5s ease-in-out;
}
.main__subtitulo--h2{
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 70px;
}
.section{
    background-color: var(--back-claro1);
}
.section:nth-child(odd){
    background-color: var(--back-claro2)

}

/*PAGES*/
.header__pages{
    height: 50vh;
    position: relative;
}
.header__pages .header__fondo{
    height: 50vh;
}
.header__pages .header__logo--horizontal, .header__pages .header__logo--vertical{
    display: none;
}
.header__pages__titulo h1{
    position: absolute;
    bottom: 57px;
    z-index: 2;
    color: var(--back-claro1);
    right: 50px;
    font-weight: 900;
    font-style: italic;
    font-family: var(--font-title);
    text-transform: uppercase;
    text-shadow: #111111 0 0 5px;
    padding: 30px
}

/*CAMINATAS*/
.section__container--pages{
    max-width: 70%;
    margin: auto;
}
.section__list--datos li{
    display: flex;
    font-size: 1.3em;
    padding: 2px;
    position: relative;
    line-height: 1;
}
.section__list--datos b{
    color: var(--accent2);
    font-weight: 900;
    padding: 7px;
    width: 30%;
    position: relative;
    text-align: right;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
}
.section__list--datos span{
    padding: 7px;
    text-align: justify;
    width: 67%;
}
.section__list--datos{
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 5px;
    height: 90%;
    color: var(--bs-light-text);
    display: flex;
    flex-direction: column;
}
.section__list ul{
    list-style: none;
    padding: 0px;
}
.section__texto--caminatas{
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
}
.section__texto--caminatas p:last-of-type{
    margin-bottom: 0;
}
.setion__list--precios ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.setion__list--precios li{
    color: var(--accent3);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin: 10px 10px 10px 0;
    text-transform: uppercase;
    text-align: center;
}
.setion__list--precios li:last-of-type{
    margin-right: 0;
}
.setion__list--precios li:first-of-type{
    background: var(--grad-top);
    color: #fff;
    opacity: .8;
}
.galeria__imagen{
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 1px 0px;
}
.galeria__imagen img{
    max-height: 200px;
}
.section__galeria .btn{
    margin: 0;
    padding: 0;
}
.section__modal{
    background: var(--back-claro1);
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    position: fixed;
    left: 15%;
    width: 70%;
}
.modal__close{
    position: absolute;
    right: 35px;
    top: 35px;
    padding: 10px;
    background: var(--back-claro1);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    box-shadow: rgba(10,10,10,.1) 0 0 4px;
}
.modal__close i{
    color: #fff;
    padding: 0;
    display: block;
}
.modal__container img{
    width: 100%;
}
/*RESPONSIVE*/
@media (max-width: 800px){
    
    .desktop, .index__subtitulo:after, .index__subtitulo:before{
        display: none;
    }
    .mobile{
        display: block;
    }
    .navbar__container ul {
        flex-direction: column;
        background: var(--back-claro2);
        padding: 0 3vw;
        width: 100%;
        margin: 0;
        
    }
    .navbar__container{
        margin: 0;
        display: flex;
        text-align: right;
        font-size: 1.2em;
        width: 100%;
        position: absolute;
        top: 57px;
    }
    .navbar__links {
        color: var(--accent3);
        padding: 10px;
        border-bottom: 1px solid;
        width: 100%;
        display: block;
    }
    .navbar__name{
        display: none;
    }
    

}
@media (max-width: 1400px) {
    .section__title--top{
        display: block;
        margin-bottom: 5px;
    }
    .section__title--top span{
        display: none;
    }
    .section__title--right{
        display: none;
    }
}
@media (max-width: 1200px){
    .section__texto--right p:first-of-type{
        display: none;
    }
    .section__texto--top{
        display: block;
        padding: 20px 60px 10px;
        color: var(--accent3);
    }
    
}
@media (max-width: 992px){
    .section__texto--top{
        display: none;
    }
    .section__texto--right p:first-of-type{
        display: block;
    }
    .card__tit h3{
        font-size: 2em;
    }
    .card__link{
        font-size: 1em;
        padding: 6px 10px;
    }
    .section__list--datos{
        padding: 30px 0;
    }
    .section__list--datos li{
        padding: 0 0 10px;
        flex-direction: column;
    }
    .section__list--datos b{
        width: 100%;
        padding: 0;
    }
    .section__list--datos span{
        width: 100%;
    }
    .section__texto--caminatas{
        padding: 30px 0;
    }
    .galeria__imagen{
        max-width: 50%;
        position: relative;
    }
    .galeria__imagen img{
        width: 520px;
    }
}

@media (max-width: 768px){
    .navbar{
        position: fixed;
        top: 0;
        margin-top: 0px;
    }
    .card__tit h3{
        font-size: 3em;
    }
    .section__container{
        padding: 10% 5%;
    }
    .section__title{
        background: transparent
    }
    .section__title::before{
        background: transparent;
    }
    .section__title::after{
        background: transparent
    }
    .section__title h1, .section__title h2{
        color: var(--accent3);
        border-bottom: 1px solid;
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 4em;
        text-align: right;
    }
    
    .nav__menu ul {
        flex-direction: column;
        background: var(--back-claro2);
        padding: 0 3vw;
        width: 100%;
        margin: 0;
        list-style: none;
        
    }
    .nav__menu{
        margin: 0;
        display: flex;
        text-align: right;
        font-size: 1.2em;
        width: 100%;
        position: absolute;
        top: 57px;
        left: 0;
    }
    .nav__links {
        color: var(--accent3);
        padding: 10px;
        border-bottom: 1px solid;
        width: 100%;
        display: block;
    }
    .nav__brand{
        display: none;
    }
    .header__logo-vertical{
        width: 70%;
        position: relative;
    }
    .header__logo-vertical img{
        width: 100%;
    }
    .header__logo--horizontal{
        display: none;
    }
    .header__logo--vertical{
        display: flex;
    }
    .section__galeria{
        display: none;
    }
    .section__container--pages{
        max-width: 100%;
    }
}
@media(max-width:576px){
    .footer__rrss{
        width: 100%;
        justify-content: start;
        margin-bottom: 22px;
    }
    .footer__contacto ul, .footer__rrss ul{
        padding: 0;
        text-align: right;
    }
    .footer__contacto b{
        display: block;
        margin-top: 10px;
    }
    .footer__contacto{
        padding: 40px 20px 20px;
    }
    .setion__list--precios ul{
        flex-direction: column;
    }
    .setion__list--precios li{
        margin: 0;
        text-align: left;
    }
    .section__texto--caminatas{
        padding: 20px 0 0;
    }
    .section__container--pages{
        max-width: 100%;
    }
    .section__title h1, .section__title h2{
        font-size: 2.5em;
        text-align: center;
        padding: 0 0 20px;
    }
    .header__pages__titulo h1{
    bottom: 0;
    padding: 30px;
    text-align: right;
    right: 0;
    font: 900 italic 4em var(--font-title)
    }
}